# build artifacts
/build/
/test-logs/
/iso/
/*.iso
/# distribution artifacts
/dist/
*.o
*.bin
*.elf
*.so
*.map

#sources code or library
/edk2/

# editors
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json

# worktrees
.worktrees/

# OS cruft
.DS_Store
Thumbs.db
